!!! 5
%html
  %head
    %title Spheroid
  %body
    %h1 fart
    %form{action: '/roll'}
      %input{name: 'speed', placeholder: 'speed', type: 'text'}
      %input{name: 'dir', placeholder: 'direction', type: 'text'}
      %input{name: '', value: 'go', type: 'submit'}
